.simple-card-container {
  padding: 50px;

  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: grey;
}

.simple-card-img-top {
}

.simple-card-body {
}

.simpe-card-title {
}

.simple-card-text {
}
