/* You can add global styles to this file, and also import other style files */
:root {
  --nav-bar-light-theme: #54575c;
  --nav-bar-dark-theme: #0f0a2e;

  --text-light-theme: #171717;
  --text-dark-theme: #f4f4f4;

  --button-text-light-theme: #ffffff;
  --button-text-dark-theme: #28222b;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
}

.button-primary {
  background-color: darkcyan;
  color: azure;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-family: sans-serif;
  /* font-size: 1rem; */
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* button:hover,
button:focus {
  background: rgb(91, 91, 91);
} */
